azul = #1E90BD
blanco = #fff
nar = #FFA95C
azTexto = #5D8CAC
body
	font-family 'Open Sans'
	width 1024px
	margin-left auto
	margin-right auto
	padding 0px
header
	background #47a4c9
	background -moz-linear-gradient(top,  #47a4c9 28%, #1e90bd 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(28%,#47a4c9), color-stop(100%,#1e90bd))
	background -webkit-linear-gradient(top,  #47a4c9 28%,#1e90bd 100%) 
	background -o-linear-gradient(top,  #47a4c9 28%,#1e90bd 100%) 
	background -ms-linear-gradient(top,  #47a4c9 28%,#1e90bd 100%) 
	background linear-gradient(bottom,  #47a4c9 28%,#1e90bd 100%)
	border-top #EAF1FA 1px solid
	border-bottom #002B5E 1px solid
	color blanco
	position absolute
	width 1024px
	height 85px
	figure 
		float left
	#botones 
		margin-right 10px
		float right
		ul
			list-style none
			li
				display inline-block
			li:hover
				opacity 0.4
				cursor pointer
				transition 0.3s
	#secciones
		margin 35px 0 0 280px
		font-size 16px
		ul
			list-style none
			li
				display inline-block
				margin-left 30px
				transition 0.6s
			li:hover
				cursor pointer
				color nar
				margin-left 30px
				padding-bottom 10px
				border-bottom 15px solid nar
			a
				color #fff
				text-decoration none
section 
	width 1024px
	padding-top 86px
	#slider
		h2
			color #BD4B1E
		h3
			font-size 24px
			color #2D4D6A
	#flechaAnimada
		margin-top 3px
	#presentacion
		padding 45px 0 0 70px 
		color #666
	#titulares
		text-align center
		-moz-box-shadow 0px -3px 4px -3px rgba(56,64,66,1)
		-webkit-box-shadow 0px -3px 4px -3px rgba(56,64,66,1)
		box-shadow 0px -3px 4px -3px rgba(56,64,66,1)
		.cajaTit
			color #666
			display inline-block
			height 240px
			margin-left 30px
			padding 10px
			vertical-align middle
			width 300px
			a 
				text-decoration none
				padding 10px 10px 10px 0
			h1
				color azTexto
				margin 0px
				font-size 16px
				text-align left
			p 
				text-align left		
		#ejecucionProyectos
			background #f6f6f6
		.lineaPuenteada
			color azTexto
	#pieTitulares
		color #E2EEF3
		-moz-box-shadow inset 0px 3px 4px -2px rgba(56,64,66,1)
		-webkit-box-shadow inset 0px 3px 4px -2px rgba(56,64,66,1)
		box-shadow inset 0px 3px 4px -2px rgba(56,64,66,1)
		margin-top 20px
		background azul
		height 300px
		width 100%
		#sociales
			margin-right 40px
			height 300px
			width 64px
			div
				margin 20px 0 30px 9px
				transition 0.5s
				img
					height 40px
			div:hover
				opacity 0.5
				cursor pointer
				transition 0.5s
		.cajaPieTit
			width 280px
			height 280px
			display inline-block
			vertical-align middle
		#cajaPieTit2
			padding-left 0px
		#cajaPieTit3
			padding-left 30px
			img
				vertical-align top
	.textosArticle
		padding-right 20px
		Background #fff
		-webkit-box-shadow 0px 3px 4px -2px rgba(56,64,66,1)
		-moz-box-shadow 0px 3px 4px -2px rgba(56,64,66,1)
		box-shadow 0px 3px 4px -2px rgba(56,64,66,1)
		padding-bottom 20px
		h3
			Color #5D8CAC
			font-size 23pt
			Margin-left 45px
			Margin-top 10px
		.textosServicios
			p 
				color #666
				margin-left 45px
				font-size 12px
			.subtitulos
				color #5D8CAC
				font-size 14px
				margin-top 30px
				margin-left 45px
	#clientes
		text-align center
		p 
			Color #C7C7C7
			font-size 14px
			Margin-left 14px
			Margin-top 10px
			Margin-bottom 5px
			text-align left
		img
			margin 5px 14px 5px 14px
			opacity 0.3
		img:hover
			transition 0.3s
			opacity 1
footer
	background azul
	border-top 2px solid #E2EEF3
	color #E2EEF3
	height 50px
	width 1024px
	position absolute
	text-align right
	p 
		margin 0px 10px 2px 0

	img 
		float left
		height 48px
.propModal
	color #fff
	background azul
	padding 0px 0px 0px 40px
	position absolute
	border-radius 3px
	h3
		margin-top 40px
	p 
		margin-right 40px
	.botones-modal 
		margin-top 0px
		margin-right 10px
		float right
		ul
			list-style none
			li
				display inline-block
			li:hover
				opacity 0.4
				cursor pointer
				transition 0.3s
.contacto
	padding 0px 0px 0px 20px
	width 400px	
	height 450px
	#cuadAdorno
		color #fa0
		font-size 28px
		margin-right 3px
	input
		border-radius 0
	textarea
		border-radius 0
	form
		padding-left 1em
		margin-right 20px
	a
		border-radius 3px
		float right
	h3
		margin-top 20px
.cerrar
	cursor pointer
	float right
	font-size 12px
	margin-right 20px
	padding-top 10px
	padding-bottom 5px
.cerrar:hover
	color #fa0	

.cerrarFormulario
	cursor pointer
	font-size 12px
	padding-top 80px
	text-align right
.cerrarFormulario:hover
	color #fa0	



	